Repository Dremora/my-music: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier-package-json --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,md,html,css}": "prettier --write",
  "**/package.json": ["prettier-package-json --write"]
}

Increase character limits
  src/api/domain/album.ts
Due: prettier --write

Filter albums by Apple Music presence
  prisma/sql/getAlbumPerFirstPlayedYearCount.sql
  prisma/sql/getAlbumsByFirstPlayedYear.sql
  prisma/sql/getAlbumsByQuery.sql
  schema.graphql
  src/api/schema/queries/album-per-first-played-year-count.ts
  src/api/schema/queries/album-per-first-year-count.ts
  src/api/schema/queries/albums-by-first-played-year.ts
  src/api/schema/queries/albums-by-year.ts
  src/api/schema/queries/albums.ts
  src/app/first-played/[year]/page.tsx
  src/app/first-played/layout.tsx
  src/app/page.tsx
  src/app/years/[year]/page.tsx
  src/components/album/apple-logo/index.tsx
  src/components/album/index.tsx
  src/components/album/styles.css.ts
  src/components/albums-by-year-selector/index.tsx
  src/components/apple-music-filter/index.tsx
  src/components/apple-music-filter/styles.css.ts
Due: prettier --write

Attribute albums without first play date to 2005
  prisma/sql/getAlbumsByFirstPlayedYear.sql
Due: none

Upgrade React and Next
  next-env.d.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, prettier-package-json --write

Remove unnecessary config
  next.config.ts
Due: prettier --write

Add script parsing data from Albums app
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/eslint-config/config.ts
  src/scripts/albums-backup/index.ts
  src/scripts/albums-backup/parse.ts
  src/scripts/albums-backup/schema.ts
Due: prettier --write, prettier-package-json --write

Add GitHub workflow linting
  .github/actionlint.yaml
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier-package-json --write
