Repository Dremora/my-music: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier-package-json --write

Upgrade prettier
  .eslintrc.js
  .prettierignore
  .prettierrc
  package.json
  pnpm-lock.yaml
  src/components/AlbumForm/index.tsx
  src/components/AlbumsByYearSelector/index.tsx
  src/components/Button/index.tsx
  src/components/FirstPlayedField/index.tsx
  src/components/Footer/index.tsx
  src/components/Input/index.tsx
  src/components/Search/index.tsx
  src/components/Select/index.tsx
  src/components/Source/index.tsx
  src/components/YearsHistogram/Year/index.tsx
  src/components/YearsHistogram/index.tsx
  src/data/login/index.tsx
  src/generated/graphql.ts
  src/pages/albums/[id]/index.tsx
  src/pages/albums/new/index.tsx
  src/pages/years/[year].tsx
  src/styles/colors.css.ts
  src/utils/apollo.ts
  tsconfig.json
Due: prettier --write, prettier-package-json --write

Upgrade TypeScript
  package.json
  pnpm-lock.yaml
Due: prettier-package-json --write

Add padding-line-between-statements
  package.json
  pnpm-lock.yaml
  src/api/authentication.ts
  src/api/config.ts
  src/api/schema/album.ts
  src/api/schema/mutation/delete-album.ts
  src/api/schema/source.ts
  src/components/AlbumForm/index.tsx
  src/components/Footer/index.tsx
  src/components/Menu/Item/index.tsx
  src/components/YearsHistogram/index.tsx
  src/eslint-config/formatting.ts
  src/utils/apollo.ts
Due: prettier --write, prettier-package-json --write

Knip, cspell, remove unused dependencies
  .cspell.json
  .vscode/settings.json
  knip.json
  package.json
  pnpm-lock.yaml
  src/api/errors.ts
Due: prettier --write, prettier-package-json --write

Remove apollo-server
  package.json
  pnpm-lock.yaml
  src/api/domain/album.ts
  src/api/http.ts
  src/api/schema/index.ts
Due: prettier --write, prettier-package-json --write

Fix search typing issues, introduce loading/empty states
  src/api/yoga.ts
  src/app/page.tsx
  src/components/AlbumList/index.tsx
Due: prettier --write

Introduce eslint-plugin-perfectionist
  package.json
  pnpm-lock.yaml
  src/api/domain/album.ts
  src/api/errors.ts
  src/api/schema/builder.ts
  src/api/schema/queries/album-per-first-year-count.ts
  src/api/schema/types/album-per-year-count.ts
  src/api/schema/types/index.ts
  src/app/graphql/route.ts
  src/app/page.tsx
  src/components/AlbumForm/index.tsx
  src/components/Button/index.tsx
  src/components/FormField/index.tsx
  src/components/Menu/Item/index.tsx
  src/components/Search/index.tsx
  src/components/Select/index.tsx
  src/components/Source/index.tsx
  src/components/YearsHistogram/Year/index.tsx
  src/eslint-config/base.ts
  src/eslint-config/formatting.ts
  src/eslint-config/frontend.ts
  src/utils/index.ts
Due: prettier --write, prettier-package-json --write

Update Prisma to 6.10
  .gitignore
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  src/api/prisma.ts
  src/api/schema/mutations/delete-album.ts
  src/api/schema/queries/album-per-first-played-year-count.ts
  src/api/schema/queries/albums.ts
  src/api/schema/types/album.ts
  src/api/schema/types/source.ts
  src/api/yoga.ts
  src/eslint-config/base.ts
  src/eslint-config/config.ts
Due: prettier --write, prettier-package-json --write

Remove accidentally added delay
  src/api/yoga.ts
Due: prettier --write

Do not use anonymous docker volume
  docker-compose.yml
Due: none

Add album type
  .github/workflows/ci.yml
  .gitignore
  prisma/migrations/20250701063130_add_album_type/migration.sql
  prisma/migrations/20250701063203_remove_ecto_migrations/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  prisma/sql/getAlbumsByQuery.sql
  schema.graphql
  src/api/domain/album.ts
  src/api/schema/enums.ts
  src/api/schema/mutations/create-album.ts
  src/api/schema/mutations/update-album.ts
  src/api/schema/queries/albums.ts
  src/api/schema/types/album.ts
  src/app/albums/(authenticated)/[id]/page.tsx
  src/app/albums/(authenticated)/new/page.tsx
  src/components/AlbumForm/index.tsx
  src/components/Select/index.tsx
Due: prettier --write

Add album type badge
  .env
  .env.development
  src/components/Album/index.tsx
  src/components/Album/styles.css.ts
  src/components/Text/index.tsx
  src/components/Text/styles.css.ts
  src/styles/typography.css.ts
Due: prettier --write

Add compilation and live albums
  prisma/migrations/20250701085044_album_type_add_compilation_live/migration.sql
  prisma/schema.prisma
  schema.graphql
  src/api/schema/enums.ts
  src/api/schema/queries/albums.ts
  src/components/Album/index.tsx
  src/components/AlbumForm/index.tsx
Due: prettier --write

Update URL as user types
  src/app/page.tsx
Due: prettier --write

Add soundtrack type
  prisma/migrations/20250701104308_album_type_add_soundtrack/migration.sql
  prisma/schema.prisma
  schema.graphql
  src/api/schema/enums.ts
  src/api/schema/queries/albums.ts
  src/components/Album/index.tsx
  src/components/AlbumForm/index.tsx
Due: prettier --write

Stable album sorting
  prisma/sql/getAlbumsByQuery.sql
  src/api/schema/queries/albums.ts
Due: prettier --write

Add albums per first played year
  prisma/sql/getAlbumsByFirstPlayedYear.sql
  schema.graphql
  src/api/schema/queries/albums-by-first-played-year.ts
  src/api/schema/queries/albums.ts
  src/api/schema/queries/index.ts
  src/api/schema/utils.ts
  src/app/first-played/[year]/page.tsx
  src/app/first-played/layout.tsx
  src/app/first-played/page.ts
  src/app/first-played/page.tsx
Due: prettier --write

Split out album search queries
  schema.graphql
  src/api/schema/queries/albums-by-year.ts
  src/api/schema/queries/albums.ts
  src/api/schema/queries/index.ts
  src/app/years/[year]/page.tsx
Due: prettier --write

Replace varchar with text
  prisma/migrations/20250701114107_replace_varchar_with_string/migration.sql
  prisma/schema.prisma
Due: none

Fix creation of new sources
  src/components/AlbumForm/index.tsx
Due: prettier --write

Update eslint dependencies and config
  package.json
  pnpm-lock.yaml
  src/eslint-config/backend.ts
  tsconfig.json
Due: prettier --write, prettier-package-json --write

Get rid of input type="number"
  src/components/AlbumForm/index.tsx
  src/components/FirstPlayedField/index.tsx
  src/components/Input/index.tsx
  src/components/Input/styles.css.ts
Due: prettier --write

Improve client-side validation
  package.json
  pnpm-lock.yaml
  src/app/albums/(authenticated)/[id]/page.tsx
  src/app/albums/(authenticated)/new/page.tsx
  src/components/album-form/index.tsx
  src/components/first-played-field/index.tsx
  src/components/footer/index.tsx
  src/components/form-field/index.tsx
  src/components/input/styles.css.ts
  src/components/multiline-text-input/index.tsx
  src/components/multiline-text-input/styles.css.ts
  src/components/select/index.tsx
  src/components/source/index.tsx
  src/components/source/styles.css.ts
  src/components/source/utils.ts
  src/components/text-input/index.tsx
  src/components/text-input/styles.css.ts
  src/eslint-config/formatting.ts
  src/eslint-config/typescript.ts
  src/utils/form.ts
  src/utils/index.ts
  src/utils/validation.ts
Due: prettier --write, prettier-package-json --write

Misc dependency upgrade
  package.json
  pnpm-lock.yaml
  src/components/album/index.tsx
Due: prettier --write, prettier-package-json --write

Consolidate some ESLint configs
  .graphqlrc.yml
  graphql.config.ts
  src/eslint-config/backend.ts
  src/eslint-config/base.ts
  src/eslint-config/config.ts
  src/eslint-config/formatting.ts
  src/eslint-config/ignores.ts
  src/eslint-config/index.ts
  src/eslint-config/scripts.ts
  src/eslint-config/typescript.ts
  tsconfig.json
Due: prettier --write

Update ESLint config
  src/eslint-config/backend.ts
  src/eslint-config/base.ts
Due: prettier --write

Misc cleanup
  .gitignore
  .husky/post-checkout
  docker-compose.yml
  src/api/authentication.ts
  src/api/config.ts
  src/api/domain/album.ts
  src/app/albums/(authenticated)/new/page.tsx
  src/data/login/index.tsx
  src/data/use-is-first-render/index.ts
  src/eslint-config/base.ts
  src/eslint-config/config.ts
  tsconfig.json
Due: prettier --write

Update node/pnpm
  .tool-versions
  package.json
Due: prettier-package-json --write

Deploy to Vercel from CI
  .cspell.json
  .github/workflows/ci.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  src/eslint-config/config.ts
  vercel.json
Due: prettier --write, prettier-package-json --write

Disable Rust Prisma engine
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  src/api/prisma.ts
Due: prettier --write, prettier-package-json --write

Fix auth
  src/api/yoga.ts
Due: prettier --write

Introduce sqlfluff, fix getAlbumsByQuery
  .cspell.json
  .sqlfluff
  mise.toml
  prisma/sql/getAlbumPerFirstPlayedYearCount.sql
  prisma/sql/getAlbumsByFirstPlayedYear.sql
  prisma/sql/getAlbumsByQuery.sql
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  prettier-package-json --write: any of: **/package.json
